<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.aikido.staging.sample">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

	<application
		android:label="SampleApp"
		android:icon="@mipmap/ic_launcher"
		android:debuggable="true"
		android:allowBackup="true"
		android:usesCleartextTraffic="true">

		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".DeepLinkActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<data android:scheme="sampleapp"/>
			</intent-filter>
		</activity>

		<provider
			android:name=".data.ExportedProvider"
			android:authorities="com.aikido.staging.sample.provider"
			android:exported="true"/>

		<receiver
			android:name=".BootReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>

	</application>

</manifest>
